<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h2>Welcome, <%= fullName %>!</h2>
    <p>Your username is: <%= username %></p>
</body>
</html>
